{
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "typescript-eslint-parser"
  },
  "extends": [
    "plugin:vue/recommended",
    "standard"
  ],
  "env": {
    "node": true,
    "jest": true,
    "cypress/globals": true,
    "browser": true,
    "es6": true
  },
  "plugins": [
      "node",
      "vue",
      "typescript",
      "cypress",
      "standard",
      "import",
      "promise" 
  ],
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.test.js", "**/*.spec.js", "./src/setupTests.js", "nuxt.config.js"]}]
  }
}