.row {
  // display
  max-width: 70em;
  margin: 0 auto;
  padding: 0 1.5em 0;

  &:not(.no-flex) {
    @include md {
      // display
      display: grid;

      // grid
      grid-template-columns: repeat(3, 1fr);
      column-gap: 1em;
    }
  }
}